.single{
    display: flex;
    width: 100%;
}

.singleContainer{
    flex: 6;
}

.arriba{
    padding: 40px;
    display: flex;
    gap: 20px;
}

.left{
    flex: 1.6;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    position: relative;
}

.arriba .editButton{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #7451f8;
    background-color: #7551f818;
    cursor: pointer;
    border-radius: 0px 0px 0px 5px;
}

.titulo{
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
}

.item{
    display: flex;
    gap: 20px;
}

.itemImg{
    background-image: url("/src/img/Perfil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nombre{
    margin-bottom: 10px;
    color: #555;
}
.detailItem{
    margin-bottom: 10px;
    font-size: 14px;

}

.itemKey{
    font-size: 18px;
    font-weight: bold;
    color: gray;
    margin-right: 10px;
}

.itemValue{
    font-weight: 300;
    font-size: 18px;
    color: #555;
}

.right{
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    position: relative;
}


.single .singleContainer .bottom{
    display: block;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 5px;
    padding-bottom: 40px;
    margin: 40px;

}

.single .singleContainer .bottom .calificaciones{
    padding: 40px 40px 5px;
    font-size: 20px;
    color: gray;
}