.title-academico{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px 5px 10px 10px;
    margin: 30px;
    display: block;
}

.body-academico{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px 5px 10px 10px;
    margin: 30px;
    display: block;
}

.title-academico h2{
    padding: 5px 30px 20px;
    color:#6439ff;
}

.academica form {
    margin: 30px;
    display: flex;
    justify-content: space-between;
} 


.form-Input label{
    display: flex;
}
.form-Input input{
    border: none;
    outline: none;
    width: 150%;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.form-submit{
    padding-top: 20px;
}

.form-submit button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;

    &:hover{
        background-color: rgb(9, 88, 88);
    }
}