.datatable{
    height: 400px;
    padding: 10px;

    .usersNew{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 60px;
        margin: 10px;
        padding: 20px;
        box-shadow: 2px 2px 5px black;
    }
}
.datatable .usersNew .content-card-persona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
}
.datatable .usersNew .content-card-estudiante {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
}
.datatable .usersNew .content-card-docente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
}
.datatable .usersNew .content-card-acudiente {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.datatable .usersNew .content-card-persona .informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(2, 87, 82);
    font-size: 17px;
    margin: 0 0 2px 0;
    width: 90%;
    height: 45%;
}
.datatable .usersNew .content-card-estudiante .informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(81, 87, 2);
    font-size: 17px;
    margin: 0 0 2px 0;
    width: 90%;
    height: 45%;
}
.datatable .usersNew .content-card-docente .informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(87, 2, 23);
    font-size: 17px;
    margin: 0 0 2px 0;
    width: 90%;
    height: 45%;
}
.datatable .usersNew .content-card-acudiente .informacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(49, 2, 51);
    font-size: 17px;
    margin: 0 0 2px 0;
    width: 90%;
    height: 45%;
}
.datatable .usersNew .content-card-estudiante button {
    background-color: white;
    color: rgb(81, 87, 2);
    border: none;
    font-family: 'Cascadia Code',Consolas, 'Courier New', monospace;
    font-size: 15px;
    margin: 0 0 2px 3px;
    width: 10rem;
    cursor: pointer;
    border-radius: 5px;
    height: 1.8rem;
    border: 1px solid rgb(81, 87, 2);
    transition: .3s ease;
}
.datatable .usersNew .content-card-acudiente button {
    background-color: white;
    color: rgb(49, 2, 51);
    border: none;
    font-family: 'Cascadia Code',Consolas, 'Courier New', monospace;
    font-size: 15px;
    margin: 0 0 2px 3px;
    width: 10rem;
    cursor: pointer;
    border-radius: 5px;
    height: 1.8rem;
    border: 1px solid rgb(49, 2, 51);
    transition: .3s ease;
}
.datatable .usersNew .content-card-persona button {
    background-color: white;
    color: rgb(2, 87, 82);
    border: none;
    font-family: 'Cascadia Code',Consolas, 'Courier New', monospace;
    font-size: 15px;
    margin: 0 0 2px 4px;
    width: 10rem;
    cursor: pointer;
    border-radius: 5px;
    height: 1.8rem;
    border: 1px solid rgb(2, 87, 82);
    transition: .3s ease;
}
.datatable .usersNew .content-card-docente button {
    background-color: white;
    color: rgb(87, 2, 23);
    border: none;
    font-family: 'Cascadia Code',Consolas, 'Courier New', monospace;
    font-size: 15px;
    margin: 0 0 2px 3px;
    width: 10rem;
    cursor: pointer;
    border-radius: 5px;
    height: 1.8rem;
    border: 1px solid rgb(87, 2, 23);
    transition: .3s ease;
}
.datatable .usersNew .content-card-persona button:hover {
    background-color: rgb(2, 87, 82);
    color: white;
    border: 1px solid rgb(2, 87, 82);
}
.datatable .usersNew .content-card-estudiante button:hover {
    background-color: rgb(81, 87, 2);
    color: white;
    border: 1px solid rgb(81, 87, 2);
}
.datatable .usersNew .content-card-docente button:hover {
    background-color: rgb(87, 2, 23);
    color: white;
    border: 1px solid rgb(87, 2, 23);
}
.datatable .usersNew .content-card-acudiente button:hover {
    background-color: rgb(49, 2, 51);
    color: white;
    border: 1px solid rgb(49, 2, 51);
}
.datatable .container_levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
    margin-left: 10px;
}
.container_levels header {
    display: flex;
    width: 100%;
    margin: 10px 0 0 20px;
}
.container_levels header button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .3s;
}
.container_levels header button:hover {
    border: 1px solid green;
    background: white;
    color: green;
}
.container_levels section {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 98%;
}